{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-section01 pt-5">
        <h1>Carte des communes de Bretagne</h1>
    </div>

    <div id="map-home" class="section02 container img-fluid"></div>

    <div class="home-section02 container">
        <form class="row g-3" id="filter-form" method="get">
            
            <div class="col-12 col-md-4">
                <select class="form-control" name="pays" id="pays">
                    <option value="">-- Choisir un pays --</option>
                    {% for item in pays %}
                        <option value="{{ item.id }}" {% if currentFilters.pays == item.id %}selected{% endif %}>{{ item.nomFrancais }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-12 col-md-4">
                <select class="form-control" name="eveche" id="eveche">
                    <option value="">-- Choisir un évêché --</option>
                    {% for eveche in eveches %}
                        <option value="{{ eveche.id }}" {% if currentFilters.eveche == eveche.id %}selected{% endif %}>{{ eveche.nomFrancais }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-2">
                <button class="btn btn-secondary w-100" type="submit">Filtrer</button>
            </div>
            
            <div class="col-6 col-md-2">
                <button type="button" class="btn btn-outline-light w-100"><a class="nav-link text-light" href="{{ path('app_home') }}">Réinitialiser</a></button>
            </div>
            
        </form>
    </div>
    


    <h2>Liste des communes</h2>

    <ul>
        {% for commune in communesPagination %}
            <a href="{{ path('app_commune_show', {'id': commune.id, '_locale': app.request.locale}) }}"><li>{{ commune.getNomParLangue(app.request.locale) }} ({{ commune.code }})</li></a>
        {% else %}
            Aucune commune à afficher
        {% endfor %}
    </ul>

     {{ pagerfanta(communesPagination, {'routeParams': app.request.query.all}) }}

    <h2>Listes des évéchés</h2>
    <ul>
        {% for eveche in eveches | sort((a, b) => a.getNomParLangue(app.request.locale) <=> b.getNomParLangue(app.request.locale)) %}
            <a href="{{ path('app_eveche_show', {'id': eveche.id, '_locale': app.request.locale}) }}"><li>{{ eveche.getNomParLangue(app.request.locale) }} </li></a>
        {% else %}
            Aucun évéché enregistré
        {% endfor %}
    </ul>

    <h2>Listes des pays</h2>
    <ul>
        {% for pay in pays | sort((a, b) => a.getNomParLangue(app.request.locale) <=> b.getNomParLangue(app.request.locale)) %}
            <a href="{{ path('app_pays_show', {'id': pay.id, '_locale': app.request.locale}) }}"><li>{{ pay.getNomParLangue(app.request.locale) }} </li></a>
        {% else %}
            Aucun pays enregistré
        {% endfor %}
    </ul>

    <div>
        <h3>Sources</h3>
        <ul>
            <li><a href="https://fr.wikipedia.org/wiki/Liste_des_communes_d%27Ille-et-Vilaine">Liste des communes d'Ille-et-Vilaine</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Liste_des_communes_du_Finist%C3%A8re">Liste des communes du Finistère</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Liste_des_communes_des_C%C3%B4tes-d%27Armor">Liste des communes des Côtes d'Armor</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Liste_des_communes_du_Morbihan">Liste des communes du Morbihan</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Liste_des_communes_de_la_Loire-Atlantique">Liste des communes de Loire-Atlantique</a></li>
            <li><a href="https://www.coordonneesgps.net/coordonnees-gps/villes-01200-400-ville">Coordonnées GPS</a></li>
            <li><a href="https://institutdugalo.bzh/fr/nom-de-lieux-en-langue-gallese/">Noms des villes en gallo</a></li>
            <li><a href="https://umap.openstreetmap.fr/fr/map/comunes-de-la-louere-de-bertegn_1103265#11/46.9339/-1.6363">Noms des communes du 44 en gallo/poitevin</a></li>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        let nbHabitants;
        let color;
        let radius;

        function getColorByPopulation(nbHabitants) {
            return '#ff0000';
        }

        function getRadius(nbHabitants){
            if (nbHabitants <= 1000) {
                return 2;
            } else if (nbHabitants <= 2500){
                return 4;
            } else if (nbHabitants <= 5000){
                return 8;
            } else if (nbHabitants <= 10000){
                return 12;
            } else if (nbHabitants <= 50000){
                return 18;
            } else if (nbHabitants <= 100000){
                return 25;
            } else {
                return 35;
            }
        }

        var map = L.map('map-home').setView([47.9, -2.7 ], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        {% for commune in communes %}

        nbHabitants = {{ commune.habitants }} ;
        color = getColorByPopulation(nbHabitants);
        radius = getRadius(nbHabitants);

        L.circle([{{ commune.latitude }}, {{ commune.longitude }}], {
                        color: '#000000',
                        weight: 1,
                        fillColor: color,
                        radius: radius*220,
                        fillOpacity: 0.5
                    })
            .addTo(map)
            .bindPopup('<strong>{{ commune.nomFrancais|escape("html") }}</strong>') 
            .on('click', function () {
                circle.openPopup();  
            });
       

        {% endfor %}
     });
</script>

{% endblock %}