{% extends 'base.html.twig' %}

{% block title %}{% trans %}Carte des communes de Bretagne{% endtrans %} - {% trans %}Accueil{% endtrans %}{% endblock %}

{% block metadescription %}{% trans %}Où sont situés les différents pays traditionnels de Bretagne et quelles communes actuelles en font partie ? Explorez les différentes cartes !{% endtrans %}{% endblock %}

{% block keywords %}pays traditionnels bretagne, bretagne, breton, province, commune, communes bretonnes, carte interactive bretagne, breizh, brezhoneg, gallo{% endblock %}
 
{% block body %}
    <div class="home-section01 pt-5">
        <h1>{% trans %}Carte des communes de Bretagne{% endtrans %}</h1>
    </div>

    <div id="map-home" class="section02 container img-fluid"></div>

    <div class="home-section02 container">
        <form class="row g-3" id="filter-form" method="get">
            
            <div class="col-12 col-md-4">
                <select class="form-control" name="pays" id="pays">
                    <option value="">-- {% trans %}Choisir un pays{% endtrans %} --</option>
                    {% for item in pays %}
                        <option value="{{ item.id }}" {% if currentFilters.pays == item.id %}selected{% endif %}>{{ item.getNomParLangue(app.request.locale) }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-12 col-md-4">
                <select class="form-control" name="eveche" id="eveche">
                    <option value="">-- {% trans %}Choisir une province{% endtrans %} --</option>
                    {% for eveche in eveches %}
                        <option value="{{ eveche.id }}" {% if currentFilters.eveche == eveche.id %}selected{% endif %}>{{ eveche.getNomParLangue(app.request.locale) }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-2">
                <button class="btn btn-secondary w-100" type="submit">
                    {% trans %}Filtrer{% endtrans %}
                </button>
            </div>
            
            <div class="col-6 col-md-2">
                <button type="button" class="btn btn-outline-light w-100">
                    <a class="nav-link text-light" href="{{ path('app_home') }}">
                        {% trans %}Réinitialiser{% endtrans %}
                    </a>
                </button>
            </div>
            
        </form>
    </div>
    
 
{# Section de la liste des communes #}
    <div class="home-section03 container py-5">

    {# Titre #}
        <div class="py-3 d-flex justify-content-center">
            <h2>{% trans %}Liste des communes{% endtrans %}</h2>
        </div>


    {# Liste #}
        <div class="pb-3 pt-2">
            <div class="list-group">
                <ul class="liste-communes">
                    {% for commune in communesPagination %}
                        <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action" href="{{ path('app_commune_show', {'id': commune.id, '_locale': app.request.locale}) }}">
                            {{ commune.getNomParLangue(app.request.locale) }} 
                            <small class="text-secondary">{{ commune.code }}</small>
                        </a>
                    {% else %}
                        {% trans %}Aucune commune à afficher{% endtrans %}
                    {% endfor %}
                </ul>
            {# Navigation #}
                {% include 'partials/navigation.html.twig' %}
            </div>

    {# Bouton vers la page dédiée #}
            <div class="d-flex justify-content-center align-items-center pt-4">
                <p class="d-flex justify-content-between align-items-center">
                    <span class="pe-2 fs-5">{% trans %}ou{% endtrans %} </span> 
                    <a class="btn" href="{{ path('app_commune_index')}}">{% trans %}Aller à la page des communes{% endtrans %}</a></p>
            </div>
        </div>
    </div>
    


{# Section des provinces et des pays #}
    <div class="home-section04">
        <div class="container py-5">
            <div class="row pb-5">
                <div class="pt-3 row">
                    <h2 class="col-12">{% trans %}Les provinces et les pays traditionnels de Bretagne{% endtrans %}</h2>
                    <p class="col-12 mt-2">La structure territoriale de la Bretagne est complexe, les territoires la composant ayant évolué au cours de l'Histoire. On distingue communément deux niveaux de pays :</p>
                </div>
            {# Evêchés #}
            {# Colonne de la première carte #}
                <div class="col-12 col-md-6 g-3 g-lg-5">

                {# Carte 1 #}
                    <div class="card h-100 d-flex flex-column">
                        <div class="row g-0 h-100">
                            <div>
                                <img src="{{ asset('img/eveches-bretagne.webp')}}" class="img-fluid rounded-top h-100" style="object-fit: cover;" alt="{% trans %}Carte des provinces de Bretagne{% endtrans %}">
                            </div>

                            <div>
                                <div class="card-body">
                                    <h3 class="card-title">{% trans %}Les provinces{% endtrans %}</h3>
                                    <p class="card-text">Les provinces sont appelés ainsi du fait de leur rôle ecclésiastique. Ils sont aussi appelés "provinces". Ils sont au nombre de neuf. Avant la révolution, ils servaient, en plus de leur rôle religieux, de circonscriptions civiles et militaires.</p>

                                    <a class="btn" href="{{ path('app_eveche_index')}}">{% trans %}Page des provinces{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {# Colonne de la deuxième carte #}
                <div class="col-12 col-md-6 g-3 g-lg-5">

                {# Carte 2 #}
                    <div class="card h-100 d-flex flex-column">
                        <div class="g-0 h-100">
                            <div>
                                <img src="{{ asset('img/pays-bretagne.webp')}}" class="img-fluid rounded-top h-100" style="object-fit: cover;" alt="{% trans %}Carte des pays traditionnels de Bretagne{% endtrans %}">
                            </div>

                            <div>
                                <div class="card-body">
                                    <h3 class="card-title">{% trans %}Les pays{% endtrans %}</h3>
                                    <p class="card-text">Les pays n'ont pas de limites fixes. Ces pays dits de tradition ou de mode peuvent avoir eu au cours de l'histoire des vocations très diverses. Certains d'entre eux ont eu un rôle administratif tandis que d'autres sont essentiellement des territoires identitaires.</p>

                                    <a class="btn" href="{{ path('app_pays_index')}}">{% trans %}Page des pays{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>
    </div>

    {# Sections infos #}
    <div class="home-section05">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6 sources">
                    <h2>{% trans %}Sources{% endtrans %}</h2>
                    <ul class="p-0 list-group list-group-flush">
                        <a class="ps-0 list-group-item" href="https://www.geobreizh.bzh/">{% trans %}Cartes et fond de cartes{% endtrans %} (Geobreizh)</a>
                        <a class="ps-0 list-group-item" href="http://boutique.kendalch.com/page/liste-des-fiches-heritaj">{% trans %}Les communes et leurs pays{% endtrans %} (Kenleur et Heritaj)</a>
                        <a class="ps-0 list-group-item" href="https://fr-academic.com/dic.nsf/frwiki/1309672">{% trans %}Les informations sur les différents pays{% endtrans %} (Wikipedia)</a>
                        <a class="ps-0 list-group-item" href="https://institutdugalo.bzh/fr/nom-de-lieux-en-langue-gallese/">{% trans %}Noms des villes en gallo{% endtrans %} (Institut du Galo)</a>
                        <a class="ps-0 list-group-item" href="https://umap.openstreetmap.fr/fr/map/comunes-de-la-louere-de-bertegn_1103265#11/46.9339/-1.6363">{% trans %}Noms des communes du 44 en gallo et poitevin{% endtrans %} (Vassili Moreau-Miossec via OpenStreetMap)</a>
                        <a class="ps-0 list-group-item" href="https://fr.wikipedia.org/wiki/Cat%C3%A9gorie:Commune_dans_la_r%C3%A9gion_Bretagne">{% trans %}Liste des communes de la Bretagne administrative{% endtrans %} (Wikipedia)</a>
                        <a class="ps-0 list-group-item" href="https://fr.wikipedia.org/wiki/Liste_des_communes_de_la_Loire-Atlantique">{% trans %}Liste des communes de Loire-Atlantique{% endtrans %} (Wikipedia)</a>
                    </ul>
                </div>

                <div class="col-12 col-md-6 contact">
                    <h2>{% trans %}Contact{% endtrans %}</h2>
                    <p>Une remarque, des corrections à apporter, des suggestions de contenu, une plainte sur la non-inclusion de la Mayenne ? Vous pouvez contacter le créateur via son site perso.</p>
                    <a href="https://newennturbiau-graphisme.com" class="btn">Voir le site</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        let nbHabitants;
        let color;
        let radius;

        function getColorByPopulation(nbHabitants) {
            return '#ff0000';
        }

        function getRadius(nbHabitants){
            if (nbHabitants <= 1000) {
                return 2;
            } else if (nbHabitants <= 2500){
                return 4;
            } else if (nbHabitants <= 5000){
                return 8;
            } else if (nbHabitants <= 10000){
                return 12;
            } else if (nbHabitants <= 50000){
                return 18;
            } else if (nbHabitants <= 100000){
                return 25;
            } else {
                return 35;
            }
        }

        var map = L.map('map-home').setView([47.9, -2.7 ], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        {% for commune in communes %}

        nbHabitants = {{ commune.habitants }} ;
        color = getColorByPopulation(nbHabitants);
        radius = getRadius(nbHabitants);

        L.circle([{{ commune.latitude }}, {{ commune.longitude }}], {
                        color: '#000000',
                        weight: 1,
                        fillColor: color,
                        radius: radius*220,
                        fillOpacity: 0.5
                    })
            .addTo(map)
            .bindPopup('<strong><a href="{{ path('app_commune_show', {'id': commune.id, '_locale': app.request.locale}) }}">{{ commune.getNomParLangue(app.request.locale)|escape("html") }}</a></strong>') 
            .on('click', function () {
                circle.openPopup();  
            });
       

        {% endfor %}
     });
</script>

{% endblock %} 