{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <div id="map"></div

    {% if is_granted('ROLE_SUPERADMIN') %}
    <p>Enregistrer un nouvel utilisateur</p>
    {% endif %}

    <h2>Liste des communes</h2>

    <ul>
        {% for commune in communes %}
            <li>{{ commune.nomFrancais }} / {{ commune.nomBreton }} / {{ commune.nomGallo }} ({{ commune.code }})</li>
        {% else %}
            Aucune commune enregistrée
        {% endfor %}
    </ul>

    <h2>Listes des évéchés</h2>
    <ul>
        {% for eveche in eveches %}
            <li>{{ eveche.nomFrancais }} / {{ eveche.nomBreton }} / {{ eveche.nomGallo }}</li>
        {% else %}
            Aucun évéché enregistré
        {% endfor %}
    </ul>

    <h2>Listes des pays</h2>
    <ul>
        {% for item in pays %}
            <li>{{ item.nomFrancais }} / {{ item.nomBreton }} / {{ item.nomGallo }}</li>
        {% else %}
            Aucun pays enregistré
        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

{% endblock %}