{% extends 'base.html.twig' %}

{% block title %}{% trans %}Enregistrer un nouvel utilisateur{% endtrans %}{% endblock %}

{% block body %}
<div class="container formulaire-ajout">
    <div class="py-5">
        <h1>{% trans %}Enregistrer un nouvel utilisateur{% endtrans %}</h1>
    </div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">{% trans %}Enregistrer{% endtrans %}</button>
    {{ form_end(registrationForm) }}

    <div class="py-5">
        <a class="btn btn-warning" href="{{ path('app_home') }}">{% trans %}Annuler{% endtrans %}</a>
    </div>
</div>
{% endblock %}
