<footer>
<div class="container">
    <div class="text-light py-4 row row-cols-1 row-cols-md-3">
        <div class="col my-3">
            <h4 class="p-0">
            {% trans %}Plan du site{% endtrans %}</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path('app_commune_index') }}">
                        {% trans %}Liste des communes{% endtrans %}
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path('app_pays_index') }}">
                        {% trans %}Liste des pays{% endtrans %}
                    </a>
                </li class="nav-item mb-2">
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path('app_eveche_index') }}">
                        {% trans %}Liste des provinces{% endtrans %}
                    </a>
                </li>
                
                {% if is_granted('IS_AUTHENTICATED') %}
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path('app_logout') }}">{% trans %}Se déconnecter{% endtrans %}</a>
                </li>
                {% else %}
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path('app_login') }}">{% trans %}Se connecter{% endtrans %}</a>
                </li>
                {% endif %}

            </ul>
        </div>

        <div class="col my-3">
            <h4 class="p-0">{% trans %}Langues{% endtrans %}</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">{% trans %}Français{% endtrans %}</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'br'})) }}">{% trans %}Breton{% endtrans %}</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'go'})) }}">{% trans %}Gallo{% endtrans %}</a>
                </li>
            </ul>
        </div>

        {% if is_granted('IS_AUTHENTICATED') %}
        <div class="col my-3">
            <h4 class="p-0">{% trans %}Outils admin{% endtrans %}</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link p-0 text-light" href="{{ path('app_admin_commune_new') }}">{% trans %}Ajouter une commune{% endtrans %}</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link p-0 text-light" href="{{ path('app_admin_pays_new') }}">{% trans %}Ajouter un pays{% endtrans %}</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link p-0 text-light" href="{{ path('app_admin_eveche_new') }}">{% trans %}Ajouter une province{% endtrans %}</a>
                </li>
                <li class="nav-item mb-2">
                    <a class="nav-link p-0 text-light" href="{{ path('app_logout') }}">{% trans %}Se déconnecter{% endtrans %}</a>
                </li>
                
                {% if is_granted('ROLE_SUPERADMIN') %}
                <li class="nav-item mb-2">
                    <a href="{{ path('app_register') }}">{% trans %}Enregistrer un nouvel utilisateur{% endtrans %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}

        <div class="col my-3">
            <h4 class="p-0">{% trans %}Informations légales{% endtrans %}</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link p-0" href="{{ path('app_mentions')}}">{% trans %}Mentions légales{% endtrans %}</a>
                </li>
            </ul>
        </div>

    </div>
</div>
</footer>