<header>
    <nav class="navbar navbar-expand-md navbar-dark container">
        <div class="container-fluid text-light">
            <a class="navbar-brand" href="{{ path('app_home') }}">{% trans %}Accueil{% endtrans %}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto m-2">

                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}Langues{% endtrans %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">{% trans %}Français{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'br'})) }}">{% trans %}Breton{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'go'})) }}">{% trans %}Gallo{% endtrans %}</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}Voir par catégorie{% endtrans %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_commune_index') }}">{% trans %}Liste des communes{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_pays_index') }}">{% trans %}Liste des pays{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_eveche_index') }}">{% trans %}Liste des évêchés{% endtrans %}</a></li>
                        </ul>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}Outils admin{% endtrans %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_admin_commune_new') }}">{% trans %}Ajouter une commune{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_pays_new') }}">{% trans %}Ajouter un pays{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_eveche_new') }}">{% trans %}Ajouter un évêché{% endtrans %}</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Se déconnecter{% endtrans %}</a></li>
                            
                            {% if is_granted('ROLE_SUPERADMIN') %}
                            <li><a class="dropdown-item" href="{{ path('app_register') }}">{% trans %}Enregistrer un nouvel utilisateur{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    <div class="nav-item mx-2 my-3 my-md-0">
                        {% include 'partials/search-bar.html.twig' %}
                    </div>

                </ul>
            </div>
        </div>
    </nav>
</header>