{% extends 'base.html.twig' %}

{% block title %}{% trans %}Liste des évêchés{% endtrans %}{% endblock %}
{% block metadescription %}{% trans %}Les évêchés de Bretagne sont au nombre de neuf. Avant la révolution, ils servaient, en plus de leur rôle religieux, de circonscriptions civiles et militaires.{% endtrans %}{% endblock %}
{% block keywords %}évêchés bretagne, provinces bretagne, bretagne, breizh, bretagne traditionnelle, carte interactive{% endblock %}

{% block body %}
    <div class="mt-4">
        <h1>{% trans %}Liste des évêchés{% endtrans %}</h1>
    </div>

    <div class="container mt-4 d-flex justify-content-center">
        <img class="img-fluid rounded" src="{{ asset('img/eveches-bretagne.webp') }}" alt="{% trans %}Carte des évêchés de Bretagne{% endtrans %}">
    </div>

    <div class="container my-5">
        {% if is_granted('IS_AUTHENTICATED') %}
        <div class="mb-3">
            <a class="btn btn-warning" href="{{ path('app_admin_eveche_new') }}">{% trans %}Ajouter un évêché{% endtrans %}</a>
        </div>
        {% endif %}

        <div class="pb-3 pt-2">
            <div class="list-group">
                <ul class="liste-eveche-index ps-0">
                    {% for eveche in eveches | sort((a, b) => a.getNomParLangue(app.request.locale) <=> b.getNomParLangue(app.request.locale)) %}
                        <div class="d-flex justify-content-between align-items-center list-group-item list-group-item-action" >
                            <a class="text-decoration-none text-black" href="{{ path('app_eveche_show', {'id': eveche.id, '_locale': app.request.locale}) }}">
                                {{ eveche.getNomParLangue(app.request.locale) }}
                            </a>

                            {% if is_granted('IS_AUTHENTICATED') %}
                            <a class="btn btn-warning" href="{{ path('app_admin_eveche_edit', {'id': eveche.id}) }}">{% trans %}Modifier{% endtrans %}</a>
                            {% endif %}
                            
                        </div>
                        

                    {% else %}
                        {% trans %}Aucun évêché à afficher{% endtrans %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="index-communes-section03">
        <div class="container py-5 text-center">
        <h2 class="pb-5">{% trans %}Naviguer dans le site{% endtrans %}</h2>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <a class="btn btn-lg" href="{{ path('app_commune_index') }}">{% trans %}Aller à la page des communes{% endtrans %}</a>
                </div>

                <div class="col col-md-6">
                    <a class="btn btn-lg" href="{{ path('app_eveche_index') }}">{% trans %}Aller à la page des pays{% endtrans %}</a>
                </div>
            </div>
        </div>
    
    </div>


{% endblock %}
