{% extends 'base.html.twig' %}

{% block title %}{{ eveche.getNomParLangue(app.request.locale) }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="mt-5">
            <h1>{{ eveche.getNomParLangue(app.request.locale) }}</h1>
        </div>

        <div class="row mt-5 gx-5">
            <div class="col-12 col-lg-6 mb-5">
                <div id="map-eveche-show" class="container img-fluid rounded"></div>
            </div>
            <div class="col-12 col-lg-6 mb-5">
                <img class="img-fluid rounded" src="{{ asset('uploads/' ~ eveche.imageUrl) }}" alt="">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <div class="eveche-infos">
                    {% if app.request.locale == 'fr' %}
                    <div>
                        <p><span class="fw-bold">En breton</span> : {{ eveche.nomBreton }}
                        {% if eveche.nomGallo %}
                            <br><span class="fw-bold">En gallo</span> : {{ eveche.nomGallo }}
                        {% endif %}
                        </p>
                    </div>
                {% endif %}

                {% if app.request.locale == 'br' %}
                    <div>
                        <p><span class="fw-bold">E galleg</span> : {{ eveche.nomFrancais }}
                        {% if eveche.nomGallo %}
                           <br><span class="fw-bold">E gallaoueg</span> : {{ eveche.nomGallo }}
                        {% endif %}
                        </p>
                    </div>
                {% endif %}

                {% if app.request.locale == 'go' %}
                    <div>
                        <p><span class="fw-bold">En français</span> : {{ eveche.nomFrancais }}
                        <br><span class="fw-bold">En berton</span> : {{ eveche.nomBreton }}</p>
                    </div>
                {% endif %}

                {{ eveche.description }} 

                {% if is_granted('IS_AUTHENTICATED') %}
                    <a class="btn btn-warning" href="{{ path('app_admin_eveche_edit', {'id': eveche.id}) }}">Modifier</a>
                {% endif %}

                    <div class="back-list py-5">
                        <a class="btn" href="{{ path('app_eveche_index') }}">Revenir à la liste des évêchés</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <p class="fs-4">Communes</p>
                <div class="pb-3 pt-2">
                    <div class="list-group">
                        <ul class="liste-eveche-show">
                            {% for commune in communes %}
                                <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action" href="{{ path('app_commune_show', {'id': commune.id, '_locale': app.request.locale}) }}">{{ commune.getNomParLangue(app.request.locale) }} 
                                    <small class="text-secondary">{{ commune.code }}</small>
                                </a>
                            {% else %}
                                Aucune commune à afficher
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <a href="{{ path('app_eveche_index') }}">back to list</a>

    <a href="{{ path('app_admin_eveche_edit', {'id': eveche.id}) }}">edit</a>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>


    document.addEventListener('DOMContentLoaded', function () {
        let nbHabitants;
        let color;
        let radius;

        function getColorByPopulation(nbHabitants) {
            return '#ff0000';
        }

        function getRadius(nbHabitants){
            if (nbHabitants <= 1000) {
                return 2;
            } else if (nbHabitants <= 2500){
                return 4;
            } else if (nbHabitants <= 5000){
                return 8;
            } else if (nbHabitants <= 10000){
                return 12;
            } else if (nbHabitants <= 50000){
                return 16;
            } else if (nbHabitants <= 100000){
                return 20;
            } else {
                return 24;
            }
        }

        var map = L.map('map-eveche-show').setView([47.9, -2.7 ], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


        {% for commune in eveche.getCommunesParEveche %}

        nbHabitants = {{ commune.habitants }} ;
        color = getColorByPopulation(nbHabitants);
        radius = getRadius(nbHabitants);

        L.circle([{{ commune.latitude }}, {{ commune.longitude }}], {
                        color: '#000000',
                        weight: 1,
                        fillColor: color,
                        radius: radius*220,
                        fillOpacity: 0.5
                    })
            .addTo(map)
            .bindPopup('<strong><a href="{{ path('app_commune_show', {'id': commune.id, '_locale': app.request.locale}) }}">{{ commune.getNomParLangue(app.request.locale)|escape("html") }}</a></strong>') 
            .on('click', function () {
                circle.openPopup();  
            });
       

        {% endfor %}
     });
</script>

{% endblock %}