{% extends 'base.html.twig' %}

{% set action = app.current_route == 'app_admin_pays_new' ? 'action.add' : 'action.edit' %}

{% block title %}{{ action|trans }} {% trans %}d'un pays{% endtrans %}{% endblock %}

{% block body %}
<div class="container formulaire-ajout">
    <div class="py-5">
        <h1>{{ action|trans }} {% trans %}d'un pays{% endtrans %}</h1>
    </div>

    {{ include('admin/pays/_form.html.twig') }}

    <div class="py-5">
        <a class="btn btn-warning" href="{{ path('app_pays_index') }}">{% trans %}Annuler{% endtrans %}</a>
    </div>

</div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('/js/tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var textarea = document.querySelector('.tinymce');
    
    if (!textarea) {
        return;
    }

    if (textarea.style.display !== 'none' && !tinymce.get('eveche_description')) {
        tinymce.init({
            selector: '.tinymce',
            license_key: 'gpl'
        });
    }
});
</script>
{% endblock %}