{% extends 'base.html.twig' %}

{% block title %}Commune index{% endblock %}

{% block body %}
    <h1>Commune index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_francais</th>
                <th>Nom_breton</th>
                <th>Nom_gallo</th>
                <th>Habitants</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
            <tr>
                <td>{{ commune.id }}</td>
                <td>{{ commune.nomFrancais }}</td>
                <td>{{ commune.nomBreton }}</td>
                <td>{{ commune.nomGallo }}</td>
                <td>{{ commune.habitants }}</td>
                <td>{{ commune.latitude }}</td>
                <td>{{ commune.longitude }}</td>
                <td>{{ commune.code }}</td>
                <td>
                    <a href="{{ path('app_commune_show', {'id': commune.id}) }}">show</a>
                    <a href="{{ path('app_admin_commune_edit', {'id': commune.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagerfanta(communes, {'routeParams': app.request.query.all}) }}

    <a href="{{ path('app_admin_commune_new') }}">Create new</a>
{% endblock %}
