{% extends 'base.html.twig' %}

{% block title %}Commune{% endblock %}

{% block body %}
    <h1>Commune</h1>

    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commune.id }}</td>
            </tr>
            <tr>
                <th>Nom_francais</th>
                <td>{{ commune.nomFrancais }}</td>
            </tr>
            <tr>
                <th>Nom_breton</th>
                <td>{{ commune.nomBreton }}</td>
            </tr>
            <tr>
                <th>Nom_gallo</th>
                <td>{{ commune.nomGallo }}</td>
            </tr>
            <tr>
                <th>Habitants</th>
                <td>{{ commune.habitants }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ commune.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ commune.longitude }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ commune.code }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td><a href="{{ path('app_pays_show', {'id': commune.getIdPays.id}) }}">{{ commune.getIdPays.nomFrancais }}</a></td>
            </tr>
            <tr>
                <th>Evéché</th>
                <td><a href="{{ path('app_eveche_show', {'id': commune.getIdEveche.id}) }}">{{ commune.getIdEveche.nomFrancais }}</a></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commune_index') }}">back to list</a>

    <a href="{{ path('app_admin_commune_edit', {'id': commune.id}) }}">edit</a>

<div id="map" style="height: 400px; width: 400px;"></div>

{% endblock %}


{% block javascripts %}

{{ parent() }}

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
console.log( {{ commune.latitude }})
    document.addEventListener('DOMContentLoaded', function () {
        L.Icon.Default.imagePath = 'https://unpkg.com/leaflet@1.7.1/dist/images/';
        var map = L.map('map').setView([ {{ commune.latitude }} , {{ commune.longitude }} ], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([ {{ commune.latitude }}, {{ commune.longitude }} ]).addTo(map)
            .bindPopup('<strong>{{ commune.nomFrancais|escape("html") }}</strong>') .openPopup();
    });
</script>

{% endblock %}