{% extends 'base.html.twig' %}

{% block title %}{{ commune.getNomParLangue(app.request.locale)}} - {{ commune.code }}{% endblock %}

{% block metadescription %}Comment s'appelle {{ commune.nomFrancais}} en breton et en gallo ? A quel pays traditionnel appartient cette commune ?{% endblock %}
{% block keywords %}{{ commune.nomFrancais}}, {{ commune.getIdPays.nomFrancais}}, {{ commune.getIdEveche.nomFrancais}}, communes Bretagne, pays traditionnels, breton, gallo, brezhoneg{% endblock %}

{% block body %}
    
    <div class="container mb-5">
        <div class="mt-5">
            <h1>{{ commune.getNomParLangue(app.request.locale) }} - {{ commune.code }} </h1>
        </div>

        <div class="row mt-5 gx-5">
            <div class="col-12 col-md-6 mb-5">
                <div id="map-commune-show" class="container img-fluid rounded"></div>
            </div>

            <div class="col-12 col-md-6">
                {% if app.request.locale == 'fr' %}
                    <div>
                        <p><span class="fw-bold">En breton</span> : {{ commune.nomBreton }}
                        {% if commune.nomGallo %}
                            <br><span class="fw-bold">En gallo</span> : {{ commune.nomGallo }}
                        {% endif %}
                        </p>
                    </div>

                    <div>
                        <p>
                        {{ commune.getNomParLangue(app.request.locale) }}
                        compte {{ commune.habitants|number_format(0, '.', ' ') }} habitants.
                        </p>
                        <p>
                        Elle se situe dans le <a href="{{ path('app_pays_show', {'id': commune.getIdPays.id}) }}">{{ commune.getIdPays.getNomParLangue(app.request.locale) }}</a>
                        et appartient à l'évêché <a href="{{ path('app_eveche_show', {'id': commune.getIdEveche.id}) }}">{{ commune.getIdEveche.getNomParLangue(app.request.locale) }}</a>.
                        </p>
                    </div>
                {% endif %}

                {% if app.request.locale == 'br' %}
                    <div>
                        <p><span class="fw-bold">E galleg</span> : {{ commune.nomFrancais }}
                        {% if commune.nomGallo %}
                            <br><span class="fw-bold">E gallaoueg</span> : {{ commune.nomGallo }}
                        {% endif %}
                        </p>

                        <p>
                        E <a href="{{ path('app_pays_show', {'id': commune.getIdPays.id}) }}">{{ commune.getIdPays.getNomParLangue(app.request.locale) }}</a>
                        hag en eskopti <a href="{{ path('app_eveche_show', {'id': commune.getIdEveche.id}) }}">{{ commune.getIdEveche.getNomParLangue(app.request.locale) }}</a>
                        emañ lec'hiet.
                        
                        </p>
                    </div>

                    <div>
                        <p>
                        {{ commune.habitants|number_format(0, '.', ' ') }}
                        den zo o chom e 
                        {{ commune.getNomParLangue(app.request.locale) }}.
                        </p>
                    </div>
                {% endif %}

                {% if app.request.locale == 'go' %}
                    <div>
                        <p><span class="fw-bold">En français</span> : {{ commune.nomFrancais }}
                        <br><span class="fw-bold">En berton</span> : {{ commune.nomBreton }}</p>
                    </div>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED') %}
                <div class="pt-3">
                    <a class="btn btn-warning" href="{{ path('app_admin_commune_edit', {'id': commune.id}) }}">{% trans %}Modifier{% endtrans %}</a>
                </div>
                {% endif %}

                <div class="back-list py-3">
                    <a class="btn" href="{{ path('app_commune_index') }}">{% trans %}Revenir à la liste des communes{% endtrans %}</a>
                </div>
            </div>
        </div>
    
    </div>






{% endblock %}


{% block javascripts %}

{{ parent() }}

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
console.log( {{ commune.latitude }})
    document.addEventListener('DOMContentLoaded', function () {
        L.Icon.Default.imagePath = 'https://unpkg.com/leaflet@1.7.1/dist/images/';
        var map = L.map('map-commune-show').setView([ {{ commune.latitude }} , {{ commune.longitude }} ], 8);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([ {{ commune.latitude }}, {{ commune.longitude }} ]).addTo(map)
            .bindPopup('<strong>{{ commune.getNomParLangue(app.request.locale)|escape("html") }}</strong>') .openPopup();
    });
</script>

{% endblock %}